.blob {
  height: 938px;
  position: absolute;
  z-index: 0;
  right: 0;
  transition:opacity 0.4s ease;
  opacity: 1;
}
.t1s-opacity {
  transition: opacity 2s ease;
}
.right-deco-cont {
  opacity: 0;
}


.show {
  opacity: 1 !important;
}

.hidden {
  opacity: 0;
}

.rightContShow {
  transition: opacity 2s ease;
  opacity: 1;
}
