.content-container {
  display: flex;
  flex-direction: column;

  height: 388px;
  width: 658px;

  margin: auto 0;
  opacity: 0;
}

.content-container h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 140%;

  background-image: linear-gradient(90deg, #024E8F -3.62%, #15B74E 103.62%);
  background-clip: text;
  color: transparent;

  margin-bottom: 32px;
}

.content-container p {
  font-size: 22px;
  line-height: 150%;
  color: #ACACAC;

  margin-bottom: 60px;
}

.buttonsPageOneLeft {
  display: flex;
  align-items: center;
}

.button-one, .button-two {
  width: 312px;
  height: 62px;
  background: linear-gradient(90deg, #3480C1 -3.62%, #0DCA4F 103.62%);
  border-radius: 8px;
}

.button-one {
  margin-right: 24px;
}

.inner-container {
  width: 308px;
  height: 58px;
  background-color:#050d16;
  border-radius: 8px;
}

.button-one span {
  font-size: 20px;
  line-height: 140%;
  color: #f1f1f1;
}

.inner-container span {
  background-image: linear-gradient(90deg, #024E8F -3.62%, #15B74E 103.62%);
  background-clip: text;
  color: transparent;

  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
}
