footer {
  position: relative;
  height: 248px;
  width: 100vw;
  max-width: 100%;
  z-index: 10;
  transition: all 0.4s ease;
}

.footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  z-index: -20;
  transition: all 0.4s ease;
}
.footer-content {
  display: flex;
  align-items: flex-start;
  transition: all 0.4s ease;
}


.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 72px;
}
.social-cont-footer img:nth-child(1) {
  margin-right: 18px;
}
.social-cont-footer {
  margin-top: 8px;
}
.footer-update {
  margin-right: 44px;
}
.footer-update h3 {
  font-size: 24px;
  font-weight: 500;
  height: 32px;
  width: 420px;
  transition: all 0.4s ease;
}

.footer-update-green {
  background: linear-gradient(90deg, #096635 9.73%, #2BA665 74.92%);
  background-clip: text;
  color: transparent;
}

.footer-update-blue {
  background: linear-gradient(90deg, #1C4B73 -3.62%, #4388C4 103.62%);
  background-clip: text;
  color: transparent;
}

.footer-update p {
  margin-top: 6px;
  height: 66px;
  width: 416px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  transition: all 0.4s ease;
}
.input-update-req {
  position: relative;
  display: flex;
  width: 416px;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
  transition: all 0.4s ease;
}
.footer-update input:focus, .footer-update input:active {
  outline: none;
}
.footer-update input[type="email"] {
  width: 416px;
  height: 32px;
  padding-left: 8px;
  padding-right: 44px;
  background-color: rgba(0,0,0,.4);
  border: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  transition: all 0.4s ease;
}
.footer-update input[type="email"]::placeholder {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  transition: all 0.4s ease;
}

/*ESTILOS DEL BOTON DE ENVIAR DEL INPUT PARA EL NEWSLETTER*/
.send-svg {
  position: absolute;
  right: 0;
  width: 44px;
  height: 32px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.send-svg-dark {
  background: linear-gradient(92.46deg, #096635 9.73%, #2BA665 74.92%);
}
.send-svg-light {
  background: linear-gradient(90deg, #1C4B73 -3.62%, #4388C4 103.62%);
}

/**/
.footer-support h3, .footer-nav h3 {
  width: 98px;
  height: 30px;

  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  transition: all 0.4s ease;
}

.p-cont {
  margin-top: 6px;
  display: flex;
  flex-direction: column;

  font-weight: 300;
  line-height: 22px;
}

.sup-footer {
  margin-right: 44px;
  width: 174px;
  height: 66px;
}
.nav-footer {
  width: 96px;
  height: 66px;
}
