* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  background-color: #050D16;
}

.lightBody {
  background-color: #F8F8F8;
}
.transition {
  transition: background-color 0.25s;
}

.filler {
  width: 100vw;
  height: 96px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* width */
  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #030910;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #133c6b;
    border-radius: 6px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #15B74E;
  }
