* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  height: 2744px;
  background-color: #050D16;
  z-index: -30;
}

.filler {
  width: 100vw;
  height: 96px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.App {
  background: #050D16;
  transition: all 0.4s ease;
}

.light-body {
  background-color: #F8F8F8;
}
